<div class="container mt-3">
  <h3>Sistema de controle de clientes</h3>
  <p>Projeto desenvolvido em Angular com API Sping Boot.</p>

  <div class="mb-3 text-start">

    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#cadastrarCliente">
      Adicionar Cliente
    </button>
  </div>


  <table class="table table-bordered">
    <thead class="text-center">
      <tr>
        <th>ID</th>
        <th>NOME DO CLIENTE</th>
        <th>EMAIL</th>
        <th>TELEFONE</th>
        <th>OPERAÇÕES</th>
      </tr>

    </thead>
    <tbody>
      <tr class="text-center" *ngFor="let c of clientes">
        <td>{{c.idCliente}}</td>
        <td>{{c.nomeCliente}}</td>
        <td>{{c.emailCliente}}</td>
        <td>{{c.telefoneCliente}}</td>
        <td class="text-center">
          <button (click)="obterCliente(c)" data-bs-toggle="modal" data-bs-target="#atualizarCliente"
            class="btn btn-sm btn-success me-2">Editar</button>
          <button (click)="excluirCliente(c.idCliente)" class="btn btn-sm btn-danger">Excluir</button>
        </td>
      </tr>

    </tbody>
    <tfoot>
      <tr>
        <td class="ps-4" colspan="5">
          Quantidade de clientes: {{clientes.length}}
        </td>
      </tr>

    </tfoot>
  </table>

</div>

<!-- Modal para cadastro de clientes-->
<div class="modal fade custom-modal" id="cadastrarCliente" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastrar Cliente</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="formCadastro" (ngSubmit)="cadastrarCliente()">
          <div class=mb-2>
            <label>Nome do cliente:</label>
            <input type="text" class="form-control" placeholder="Digite o nome do cliente:"
              formControlName="nomeCliente">
            <div class="text-danger" *ngIf="fCadastro['nomeCliente'].touched && fCadastro['nomeCliente'].invalid">Por
              favor, informe o nome com pelo menos 8 caracteres.</div>
          </div>

          <div class=mb-2>
            <label>Email do cliente:</label>
            <input type="text" class="form-control" placeholder="Digite o email do cliente:"
              formControlName="emailCliente">
            <div class="text-danger" *ngIf="fCadastro['emailCliente'].touched && fCadastro['emailCliente'].invalid">Por
              favor, informe um endereço de email válido.</div>
          </div>

          <div class=mb-2>
            <label>Telefone do cliente:</label>
            <input type="text" class="form-control" placeholder="Digite o telefone do cliente:"
              formControlName="telefoneCliente">
            <div class="text-danger"
              *ngIf="fCadastro['telefoneCliente'].touched && fCadastro['telefoneCliente'].invalid">Por
              favor, informe um telefone com exatamente 11 dígitos(Ex21987654321).</div>
          </div>

          <div>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success" [disabled]="formCadastro.invalid"
              data-bs-dismiss="modal">Realizar Cadastro</button>


          </div>

        </form>


      </div>
    </div>
  </div>
</div>
<!--Modal editar clientes-->
<div class="modal fade custom-modal" id="atualizarCliente" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Atualizar Cliente</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="formEdicao" (ngSubmit)="atualizarCliente()">
          <div class=mb-2>
            <label>Id do cliente:</label>
            <input readonly class="form-control shadow-none bg-light" formControlName="idCliente">
          </div>

          <div class=mb-2>
            <label>Nome do cliente:</label>
            <input type="text" class="form-control" placeholder="Digite o nome do cliente:"
              formControlName="nomeCliente">
            <div class="text-danger" *ngIf="fEditar['nomeCliente'].touched && fEditar['nomeCliente'].invalid">Por
              favor, informe o nome com pelo menos 8 caracteres.</div>
          </div>

          <div class=mb-2>
            <label>Email do cliente:</label>
            <input type="text" class="form-control" placeholder="Digite o email do cliente:"
              formControlName="emailCliente">
            <div class="text-danger" *ngIf="fEditar['emailCliente'].touched && fEditar['emailCliente'].invalid">Por
              favor, informe um endereço de email válido.</div>
          </div>

          <div class=mb-2>
            <label>Telefone do cliente:</label>
            <input type="text" class="form-control" placeholder="Digite o telefone do cliente:"
              formControlName="telefoneCliente">
            <div class="text-danger" *ngIf="fEditar['telefoneCliente'].touched && fEditar['telefoneCliente'].invalid">
              Por
              favor, informe um telefone com exatamente 11 dígitos(Ex21987654321).</div>
          </div>

          <div>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success" [disabled]="formEdicao.invalid"
              data-bs-dismiss="modal">Atualizar cliente</button>
          </div>

        </form>


      </div>
    </div>
  </div>
</div>